[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
#暂时不强制使用对方提供的数据字典
UseDataDictionary=N
DataDictionary=spec/fix/FIX42.xml
SocketConnectHost=127.0.0.1
SocketConnectPort=7558
LogoutTimeout=5
ResetOnLogon=Y
ResetOnDisconnect=Y

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default591
BeginString=FIX.4.2
SenderCompID=TEST
TargetCompID=TEST
HeartBtInt=30
